[tool.pdm]

[project]
name = "rclog"
version = "1.1.0"
description = ""
authors = [
    {name = "break-soul", email = "57186766+break-soul@users.noreply.github.com"},
]
dependencies = []
requires-python = ">=3.10"
readme = "README.md"
license = {text = "MIT"}

[build-system]
requires = ["pdm-pep517>=1.0"]
build-backend = "pdm.pep517.api"
