# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Python package
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        
        pdm install
    - name: Build package
      run: |
        pdm build
        mkdir whl
        mv dist/*.whl whl/
    - name: upload result
      if: success()
      uses: actions/upload-artifact@v3
      with :
        name: python-wheel
        path: dist/*.whl
